/* блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки,
по центру.*/
/*блоки з короткою іфною про post - в ряд по 5 .*/
body {
    background-color: lightgray;
}

.wrap {
        margin-left: 20px;
       font-size: 20px;
  }

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    width: 90%;
    height: 40px;
    font-size: 20px;
}

.wrap2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    height: 30vh;
    gap: 10px;
    margin: 20px;
}
.div1{
    width:calc(20% - 10px);
}
.btn {
    height: 20px;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 15px;
    cursor: pointer;
}

h1 {
    margin-left: 20px;
}